.title header {
    left: 0px;
    top: 0px;
    text-align: center;
    display: table-cell;
    width: 900px;
    font-size: 50px;
    margin-top:100px;
}

.title section {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 700px;
    width: 900px;
}

.img-left img {
    float: left;
    padding-right: 30px;
}

.img-left ul, .img-left blockquote {
    overflow: hidden;
}

.center {
    text-align: center;
}

.center table, .table-center table {
    margin: auto;
}

table pre {
    margin: 0px;
}

.table-left table {
    float: left;
    margin-right: 30px;
}

.slide table {
    border-collapse: collapse;
}

.slide td, .slide th {
    font-size: 20px;
    border: 1px solid #999;
    padding: 0.5rem;
}

.slide th {
    background: lightblue;
}

.slide tr:nth-child(odd) {
    background: #eee;
}

code {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #eeeed2;
}